* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#main-container { 
    width: 90%;
    max-width: 547.19px;
    /*max-height: 900px;*/
    border: 14px solid #000000 !important;
    margin-right: auto;
    margin-left: auto;
    background-color: #DB7324;
}



/************************* PART-1 *************************/

#part-1 {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    border: 2px solid black;
    border-radius: 0.625rem;
    width: 92%;
    max-width: 426px;
    height: 50px;
    background-color: #FEECB0;
}




/************************* PART-2 *************************/

#part-2 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    width: 86%;
    max-width: 388px;
}

#part-2 > div {
    text-align: right;
}

#part-2 > div img {
    max-width: 100%;
}

#part-2 div:nth-child(2) {
    margin-top: 1rem;
    border-radius: 0.188rem;
    border: 10px solid #000;
}




/************************* PART-3 *************************/

#part-3 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    width: 92%;
    max-width: 426px;
    padding: 0.60rem 0.75rem;
    border-radius: 0.188rem;
    border: 10px solid #000;
    background-color: #FEECB0;
}

#part-3 .nav-link {    
    padding: .5rem 0.3rem;
}

#part-3 #nav-home > p {
    font-size: 1.063rem !important;
}

#part-3 #nav-about {
    text-align: center;
}

#part-3 #nav-home p:nth-child(2) {
    font-size: 0.938rem !important;
    text-align: center;
}

#part-3 div:nth-child(2) nav {
    border-top: 1px solid #b3a6a6;
    padding-top: 8px;
}

#part-3 div:nth-child(2) nav .nav {
    justify-content: space-between !important;
}

#part-3 div:nth-child(2) nav .nav-tabs {
    border-bottom: none !important;
}

#part-3 div:nth-child(2) nav .nav-tabs .nav-link {
    border-radius: .25rem !important;
}


/******** PORTFOLIO ********/

#part-3, a, .carousel-caption, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color:  #409DAD !important;
}

#part-3 .carousel-control-next, .carousel-control-prev {
    top: -11.25rem !important;
    opacity: .8 !important;
}

/*#part-3 #nav-portifolio .carousel-inner {
    margin-bottom: 1.5rem;
}*/

#part-3 #nav-portifolio .carousel-indicators {
    margin-bottom:  0.5rem !important;
}

#part-3 #nav-portifolio #carouselPortfolio .carousel-inner > .carousel-item .carousel-caption {
    position: static !important;
}

#part-3 #nav-portifolio .carousel-item h2 {
    text-align: center;
}

#part-3 #nav-portifolio #carouselPortfolio .carousel-inner .carousel-item img {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}