* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FAFAFA;
}

#main-container { 
    width: 90%;
    max-width: 492px;
    border: 14px solid #000000 !important;
    margin: 1.25rem auto;
    background-color: #DB7324;
}




/************************* PART-1 *************************/

#part-1 {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    border: 2px solid black;
    border-radius: 0.625rem;
    width: 92%;
    max-width: 426px;
    height: 50px;
    background-color: #FEECB0;
}

#part-1 h1 {
    margin-bottom: 0.25rem !important;
}




/************************* PART-2 *************************/

#part-2 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    width: 86%;
    max-width: 388px;
}

#part-2 > div {
    text-align: right;
}

#part-2 > div img {
    max-width: 100%;
}

#part-2 div:nth-child(2) {
    margin-top: 1rem;
    border-radius: 0.188rem;
    border: 10px solid #000;
}




/************************* PART-3 *************************/

#part-3 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    width: 92%;
    max-width: 426px;
    padding: 0.60rem 0.75rem;
    border-radius: 0.188rem;
    border: 10px solid #000;
    background-color: #FEECB0;
}

#part-3 .nav-link {    
    padding: .5rem 0.3rem;
}

#part-3, a, .carousel-caption, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color:  #409DAD !important;
}

#part-3 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black !important;
    font-weight: bold !important;
    font-size: 1.063rem !important;
    background-color: transparent !important;
    border: none !important;
}

#part-3 div:nth-child(2) nav {
    border-top: 1px solid #b3a6a6;
    padding-top: 8px;
}

#part-3 div:nth-child(2) nav .nav {
    justify-content: space-between !important;
}

#part-3 div:nth-child(2) nav .nav-tabs {
    border-bottom: none !important;
}

#part-3 div:nth-child(2) nav .nav-tabs .nav-link {
    border-radius: .25rem !important;
}


/******** HOME ********/

#part-3 #nav-home > p {
    font-size: 1.063rem !important;
}

#part-3 #nav-home > p + p {
    margin-bottom: 1.063rem !important;
}

#part-3 #nav-home p:nth-child(2) {
    font-size: 1rem !important;
    text-align: center;
}

#part-3 #nav-home #logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#part-3 #nav-home #logos #logos-a div:not(div:nth-last-child(5)), #logos-b div {
    margin-left: 0.5rem;
}

#part-3 #nav-home #logos div {
    display: flex;
    justify-content: space-evenly;
}

#part-3 #nav-home #logos img {
    max-width: 100%;
}

#part-3 #nav-home #logos2 {
    margin: 0.625rem 0;
    padding-left: 1.25rem;
}

#part-3 #nav-home .owl-carousel #w-40 img {
    width: 40px;
}

#part-3 #nav-home .owl-carousel #w-34 img {
    width: 34px !important;
}

/******** ABOUT ********/

#part-3 #nav-about {
    text-align: center;
}


/******** PORTFOLIO ********/

#part-3 .carousel-control-next, .carousel-control-prev {
    top: -11.25rem !important;
    opacity: .8 !important;
}

#part-3 #nav-portifolio .carousel-indicators {
    margin-bottom:  0.5rem !important;
}

#part-3 #nav-portifolio #carouselPortfolio .carousel-inner > .carousel-item .carousel-caption {
    position: static !important;
}

#part-3 #nav-portifolio .carousel-item h2 {
    text-align: center;
}

#part-3 #nav-portifolio #carouselPortfolio .carousel-inner .carousel-item img {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}


/******** CONTACT US ********/

#part-3 #nav-contact-us p {
    text-align: center;
    font-size: 1rem !important;
}

#part-3 #nav-contact-us div:nth-last-child(3) {
    margin-top: 1rem;
    text-align: center;
    color: black !important;
}

#part-3 #nav-contact-us div:nth-child(2) {
    color: black !important;
}

#part-3 #nav-contact-us div:nth-child(2) p {
    margin-bottom: 0.313rem !important;
}

#part-3 #nav-contact-us div:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
    padding: 0.813rem 0;
}

#part-3 #nav-contact-us div a  {
    color: black !important;
}



/**************** RESPONSIVIDADE ****************/

@media (max-width: 300px) {

    #part-3 #nav-home #logos #logos-b img {
        max-width: 74% !important;
    }
}

@media (max-width: 340px) {

    #part-3 #nav-contact-us div:nth-last-child(3) {
        display: none !important;
    }
}

@media (min-width: 341px) {

    #part-3 #nav-contact-us div:nth-child(2) {
        display: none !important;
    }
}

@media (max-width: 359px){

    #part-3 #nav-home #logos2 {
        display: none !important;
    }
}

@media (min-width: 360px) {

    #part-3 #nav-home #logos {
        display: none !important;
    }
}

@media (max-width: 385px) {

    #main-container { 
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
}

@media (max-width: 400px) {

    #part-3 #nav-home #logos {
        flex-direction: column !important;
        justify-content: center !important;
    }

    #part-3 #nav-home #logos #logos-b div:nth-last-child(4) {
        margin-left: 0 !important;
    }
    
    #part-3 #nav-home #logos div > div {
        margin-top: 15px;
    }
    
    #part-3 #nav-home #logos2 {
        padding-left: 0.938rem !important;
    }
}

/*@media (max-width: 405px) {

    #part-3 #nav-contact-us div:nth-last-child(2) {
        flex-direction: column !important;
    }
}*/

@media (min-width: 1024px) {
    
    #part-3 #nav-contact-us div a .fa-linkedin-in:hover, .fa-github:hover, .fa-instagram:hover, .fa-facebook-f:hover {
        transition: 1s all;
        transform: scale(1.2);
        color: hsla(120, 100%, 63%, 0.867) !important;
        text-shadow: 1px 1px 1px black;
    }

}