* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#main-container { 
    width: 90%;
    max-width: 547.19px;
    /*max-height: 900px;*/
    border: 14px solid #000000 !important;
    margin-right: auto;
    margin-left: auto;
    background-color: #DB7324;
}

#main-container img {
    width: 100%;
    height: auto;
}